apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-k8s-app
  labels:
    app: flask-k8s-app
spec:
  replicas: 5
  selector:
    matchLabels:
      app: flask-k8s-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: flask-k8s-app
    spec:
      containers:
        - name: flask-k8s-container
          image: flask-k8s-ci-cd-assignment:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
